/* Font Family - F1 */
@font-face {
  font-family: "Formula1-Regular";
  src: url("/fonts/Formula1-Regular-1.ttf") format("truetype");
}
@font-face {
  font-family: "Formula1-Black";
  src: url("/fonts/Formula1-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Formula1-Bold";
  src: url("/fonts/Formula1-Bold-4.ttf") format("truetype");
}
@font-face {
  font-family: "Formula1-Italic";
  src: url("/fonts/Formula1-Italic.ttf") format("truetype");
}
@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}
body {
  font-family: "Formula1-Regular", "Formula1-Black", "Formula1-Bold",
    "Formula1-Italic";
  background-color: #ef233c;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 2%;
  background-color: black;
  color: white;
  font-size: 0.5em;
}

li {
  list-style: none;
  display: block;
  gap: 1px;
}

button {
  border-style: solid;
  /* border-width: 1rem; */
}

h1 {
  font-family: "Formula1-Regular";
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #ef233c;
  outline: 1px solid black;
  /* border-radius: 0.3rem; */
}
#root {
  padding: 0;
  margin: 0;
  max-width: none;
}

.app {
  background-color: black;
}
.header {
  margin-bottom: 1%;
  color: white;
  font-family: "Formula1-Regular";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controls {
  margin-left: auto;
  margin-right: 1%;
}

.title {
  background-color: black;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  flex-grow: 1;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.landing {
  background-color: #ef233c;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.timer {
  display: flex;
  flex-direction: row;
  margin-left: 12%;
  margin-right: 12%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  overflow: hidden;
}
.timer-error {
  font-size: 1.15rem;
  margin-left: 12%;
  margin-right: 12%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  overflow: hidden;
  color: white;
  font-family: "Formula1-Regular";
  text-transform: capitalize;
  line-height: 3;
}

.circle {
  flex: 1;
  font-family: "Formula1-Bold";
  font-size: 2.5rem;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.white {
  background-color: white;
}

.driver-container {
  background-color: black;
}
.driver-profiles {
  margin-right: 12%;
  margin-left: 12%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.driver-profile {
  background-color: white;
  border-radius: 1rem;
  flex: 1;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.teams-container {
  background-color: white;
}

.teams-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  white-space: nowrap;
  /* overflow: hidden; */
}

.wrapper:hover .constructors {
  animation-play-state: paused;
}
.wrapper .constructors {
  animation: swipe 50s linear infinite;
}
.wrapper {
  display: flex;
  overflow: hidden;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
.teamLogo {
  height: 7rem;
  width: 7rem;
  flex: 1;
}

.team-li {
  margin-left: 1em;
  margin-right: 1em;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  border-radius: 20px;
  padding: 1em;
}

.team-li:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}

.avatar {
  width: 80%;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
}

.race-select {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  border-color: black;
  border-width: 0.2rem;
  font-family: "Formula1-Regular";
  text-align: center;
  font-size: 1.25rem;
  cursor: pointer;
}

.race-loading {
  display: flex;
  background-color: #ef233c;
}

.race-option {
  border: none;
  /* border-radius: 1rem;
  border-color: black;
  border-width: 0.2rem; */
}

#countdown {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.timer-wheel {
  flex: 1;
}

.time {
  font-family: "Formula1-Bold";
  font-size: 2.75rem;
  color: white;
}

.units {
  font-family: "Formula1-Bold";
  font-size: 1.25rem;
  color: white;
}

.country-icon {
  font-family: "NotoColorEmojiLimited", -apple-system;
  font-size: 2.5rem;
  margin-right: 2%;
  margin-left: 2%;
}

.race-select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.race-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.race-title-container {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.race-line-container p {
  font-family: "Formula1-Italic";
  font-size: 0.9em;
  margin-right: 1%;
  margin-left: 1%;
}
.text-race-info {
  margin-top: 1%;
  font-family: "Formula1-Italic";
  font-size: 0.9em;
  margin-right: 1%;
  margin-left: 1%;
}

.img-btn-sort {
  width: 1rem;
  height: 1rem;
}

.btn-sort {
  color: white;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border-width: 0.125rem;
}

.race-info-container {
  overflow: hidden;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 3%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  color: white;
}

.race-information-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
}
.race-information {
  align-self: center;
  flex: 1;
}
.circuit-container {
  /* margin-top: 2%; */
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1;
}

.image-container {
  margin-right: 5%;
  margin-left: 5%;
  /* margin-bottom: 5%; */
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  /* border-style: solid; */
  /* border-color: azure; */
  border-width: 0.1rem;
}

.circuit-image {
  width: 95%;
  max-width: 100%;
}

.button-sessions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: auto; */
}

.button-session {
  margin-left: 0.5%;
  margin-right: 0.5%;
  /* flex: 1; */
  font-family: "Formula1-Bold";
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.button-session:hover {
  transform: scale(1.05);
  font-family: "Formula1-Bold";
  cursor: pointer;
  background-color: rgb(223, 89, 0);
  color: black;
}

.team-name {
  font-family: "Formula1-Bold";
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2%;
  margin-top: 2%;
}
.name-header {
  font-size: 2rem;
}
.driver-stats p {
  font-size: 1.25rem;
  font-family: "Formula1-Regular", "NotoColorEmojiLimited", -apple-system;
}

/* Large Tablet  width: 800px-1200px */
@media (max-width: 1200px) {
  .timer {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .driver-profiles {
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
  .race-info-container {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .time {
    font-size: 2rem;
  }
  .units {
    font-size: 1rem;
  }
  .timer-error {
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
  .teamLogo {
    width: 5rem;
    height: 5rem;
  }
  .wrapper .constructors {
    animation: swipe 35s linear infinite;
  }
  .team-li {
    margin-left: 0.8em;
    margin-right: 0.8em;
    padding: 0.8em;
  }
  .name-header {
    font-size: 1.5rem;
  }
  .driver-stats p {
    font-size: 1rem;
  }
}

/* Small Tablet  width: 450px-800px */
@media (max-width: 800px) {
  .race-title-container h1 {
    font-size: 1.6rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .time {
    font-size: 1.5rem;
  }
  .units {
    font-size: 0.7rem;
  }
  .race-line-container p {
    display: none;
  }
  .race-line-container h3 {
    font-size: 0.8rem;
    margin-inline-start: 0;
  }
  .race-select {
    font-size: 0.6rem;
  }
  .title {
    font-size: 1rem;
  }
  .timer-error {
    font-size: 0.8rem;
  }
  .button-session {
    font-size: 0.7rem;
  }
  .teamLogo {
    width: 3rem;
    height: 3rem;
  }
  .wrapper .constructors {
    animation: swipe 35s linear infinite;
  }
  .team-li {
    margin-left: 0.6em;
    margin-right: 0.6em;
    padding: 0.6em;
  }
  .team-li p {
    font-size: 0.8rem;
  }
  .name-header {
    font-size: 1.25rem;
  }
  .driver-stats p {
    font-size: 0.85rem;
  }
}

/* CSS For Race Information Component */
/* Mobile  width: 450px */
@media (max-width: 450px) {
  .race-info-container {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }

  .time {
    font-size: 1.2rem;
  }
  .units {
    font-size: 0.5rem;
  }
  .circuit-image {
    width: 100%;
    height: 100%;
  }
  .race-select-container {
    width: 100%;
  }
  .race-select {
    font-size: 0.6rem;
  }
  .text-race-info {
    font-size: 0.75rem;
  }
  .race-line-container p {
    font-size: 0.5rem;
  }
  .race-title-container h1 {
    font-size: 1.2rem;
  }
  .country-icon {
    font-size: 1rem;
  }
  .race-line-container h3 {
    font-size: 0.6rem;
    margin-inline-start: 0;
  }
  .race-line-container h4 {
    font-size: 0.6rem;
    margin-inline-start: 0;
  }

  .button-session {
    font-size: 0.5rem;
  }
  .wrapper .constructors {
    animation: swipe 25s linear infinite;
  }
  .teamLogo {
    width: 4rem;
    height: 4rem;
  }
  .team-li {
    margin-left: 0.4em;
    margin-right: 0.4em;
    padding: 0.4em;
  }
  .team-li p {
    font-size: 0.7rem;
  }
  .name-header {
    font-size: 1rem;
  }
  .driver-stats p {
    font-size: 0.7rem;
  }
}
