/* Font Family - F1 */
@font-face {
  font-family: "Formula1-Regular";
  src: url("/public/fonts/Formula1-Regular-1.ttf") format("truetype");
}

body {
  font-family: "Formula1-Regular";
  background-color: white;
  margin: 0px;
}

footer {
  background-color: black;
  color: white;
  font-size: 0.5em;
}

li {
  list-style: none;
  display: block;
  gap: 1px;
}

#root {
  padding: 0;
  margin: 0;
  max-width: none;
}

.app {
  background-color: black;
}
.header {
  background-color: #ef233c;
}

.timer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.circle {
  flex: 1;
}
.driver-container {
  background-color: black;
}
.driver-profiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.driver-profile {
  background-color: white;
  width: 40%;
  border-radius: 1rem;
  border-top-left-radius: 1rem;
  flex: 1;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.teams-container {
  background-color: white;
}

.teams-list {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}
.teamLogo {
  height: 7rem;
  width: 7rem;
  flex: 1;
}

.team-li {
  margin-left: 1em;
  margin-right: 1em;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  border-radius: 20px;
  padding: 1em;
}
.team-li:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  cursor: pointer;
}

.avatar {
  width: 80%;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
}
